<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="{{ SITEURL }}/theme/images/favicon.ico"/>

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Full Atom Feed"/>
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Full RSS Feed"/>
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Atom Feed"/>
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} RSS Feed"/>
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml"
        rel="alternate" title="{{ SITENAME }} Categories Atom Feed"/>
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml"
        rel="alternate" title="{{ SITENAME }} Categories RSS Feed"/>
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Tags Atom Feed"/>
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Tags RSS Feed"/>
  {% endif %}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"/>
  {% endblock head %}
  {% block javascript %}{% endblock %}
</head>

<body>
<div id="total">
  <div id="page">
    <div id="header">
      {% block header %}
      <div id="logo_holder">
        <h1><a href="{{ SITEURL }}" id="logo">Pyromaths</a></h1>
      </div>

      <div class="topnav" id="nav_menu">
        <a href="javascript:void(0);" class="icon" onclick="myFunction();">
          <!--<i class="fa fa-bars"></i>-->
        </a>
        <ul>
          <li><a href="{{ SITEURL }}" class="active">Accueil</a></li>
          <li><a href="https://enligne.pyromaths.org/">Utiliser en ligne</a></li>
          {% for cat_name, article_list in categories if cat_name=="telecharger" %}
          {% for article in article_list %}
          {% if loop.first %}
          <li>
            <a href="{{ SITEURL }}/{{ article.slug }}.html">Télécharger</a>
          </li>
          {% endif %}
          {% endfor %}
          {% endfor %}
          <li><a href="{{ SITEURL }}/installer-pyromaths.html">Documentation</a></li>
          <li><a href="http://doc.pyromaths.org">Développeurs</a></li>
          <li id="adroite"><a href="https://forum.pyromaths.org">Forum</a></li>
        </ul>
      </div>
      <script>
      function myFunction() {
        var x = document.getElementById("nav_menu");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
      {% endblock header %}
    </div>

    {% block content %}{% endblock %}

  </div><!--page-->
  <div id="footer">
    <div id="right">
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" id="feeds">Flux Atom</a>
    </div>
    <div id="copyright">
      <p>&copy; 2010 Pyromaths<br/>
        Thème inspiré d'un travail de <a href="https://www.divio.ch/">Divio GmbH</a></p>
    </div>
  </div>
</div> <!--total-->
</body>
</html>
