{% extends "base.html" %}
{% block title %}Pyromaths, un générateur de fiches d’exercices{% endblock %}

{% block head %}
{{ super() }}
  <meta name="description"
    content="Pyromaths permet de créer des exercices de mathématiques ainsi que leurs corrigé au format pdf."/>
{% endblock %}
{% block javascript %}
<script src="{{ SITEURL }}/theme/js/jquery.js"></script>
<script src="{{ SITEURL }}/theme/js/jquery.jfeed.pack.js"></script>
<meta name="google-site-verification" content="59SXpmyWCAbOyRFbMxffg0-LOPh87YC2Jg_5XAzalZE"/>
{% endblock %}

{% block content %}
<div id="presentation">
  <script>
    //<![CDATA[
  var simplegallery_media_loaded;
  $(function() {
      if(!simplegallery_media_loaded) {
      $("head").append('<scr' + 'ipt type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.cycle.min.js"></' + 'scr' + 'ipt>');
      $("head").append('<scr' + 'ipt type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.cycle.trans.min.js"></' + 'scr' + 'ipt>');
      simplegallery_media_loaded = true;
      }
      $('#presentation .presentation_gauche .diapo').hide();
      $('#presentation .presentation_gauche').cycle({fx:    'fade', speed:  '900', timeout: 5 * 1000, pager:  '#presentation .presentation_menu', pagerAnchorBuilder: function(idx, diapo) {return '#presentation .presentation_menu li:eq(' + (idx) + ') a';} });
      $("#presentation .presentation_menu li a").click(function () { return false; });
      });
    //]]>
  </script>

  <div class="presentation_gauche">
    <div class="diapo">
      <div class="diapo_contenu">
        <h2>Générer des exercices</h2>
        <p>Pyromaths est un programme qui permet de générer des fiches
          d'exercices de mathématiques au format pdf.</p>
      </div>
      <img src="{{ SITEURL }}/images/presentation_exercice.png" alt=""/>
    </div>
    <div class="diapo">
      <div class="diapo_contenu">
        <h2>Obtenir un corrigé détaillé</h2>
        <p>Pyromaths est un programme qui ne fournit pas seulement la
          solution des exercices, mais une correction détaillée, afin de
          mieux comprendre ses erreurs.</p>
      </div>
      <img src="{{ SITEURL }}/images/presentation_corrige.png" alt=""/>
    </div>
    <div class="diapo">
      <div class="diapo_contenu">
        <h2>La puissance de LaTeX</h2>
        <p>Pyromaths utilise LaTeX pour générer les fichiers pdf. Ce
          logiciel de composition de document permet d'obtenir des
          documents de qualité professionnelle.</p>
      </div>
      <img src="{{ SITEURL }}/images/presentation_tex.png" alt=""/>
    </div>
    <div class="diapo">
      <div class="diapo_contenu">
        <h2>L'utiliser directement en ligne</h2>
        <p>Pyromaths peut s'utiliser directement à partir de ce site
          internet, sans avoir à installer de programme sur votre
          ordinateur, si ce n'est un lecteur de fichiers pdf.</p>
      </div>
      <img src="{{ SITEURL }}/images/presentation_enligne.png" alt=""/>
    </div>
    <div class="diapo">
      <div class="diapo_contenu">
        <h2>L'installer sur son ordinateur</h2>
        <p>Pyromaths peut aussi être installé sur votre ordinateur.
          Dans ce cas, vous disposez de plus de fonctionnalités, comme
          la possibilité de mélanger les exercices, de changer le titre
          de la fiche, ...</p>
      </div>
      <img src="{{ SITEURL }}/images/presentation_local.png" alt=""/>
    </div>
    <div class="diapo">
      <div class="diapo_contenu">
        <h2>Un logiciel libre</h2>
        <p>Pyromaths est un logiciel libre et gratuit, distribué sous
          licence GPL.</p>
      </div>
      <img src="{{ SITEURL }}/images/presentation_gpl.png" alt=""/>
    </div>
  </div>

  <div class="presentation_droite">
    <div class="presentation_droite_haut">
      <h2>Présentation</h2>
      <ul class="presentation_menu">
        <li class="first"><a href="#">Générer des exercices</a></li>
        <li><a href="#">Obtenir un corrigé détaillé</a></li>
        <li><a href="#">La puissance de LaTeX</a></li>
        <li><a href="#">L'utiliser directement en ligne</a></li>
        <li><a href="#">L'installer sur son ordinateur</a></li>
        <li class="last"><a href="#">Un logiciel libre</a></li>
      </ul>
    </div>
    <div class="presentation_droite_bas">
      <h2>Vous voulez essayer ?</h2>
      <p>
        <a class="button" href="https://enligne.pyromaths.org/"><span>Utiliser en ligne</span></a>
        {% for cat_name, article_list in categories if cat_name=="telecharger" %}
        {% for article in article_list %}
        {% if loop.first %}
        <a class="button" href="{{ SITEURL }}/{{ article.slug }}.html"><span>Installer chez soi</span></a>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="clear">&nbsp;</div> <!--fin du colonnage-->
</div>

<div id="trois_cols">
  <div id="col_gauche">
    <h3>Télécharger Pyromaths</h3>
    <ul>
      <li>
        <div class="article">
          {% for cat_name, article_list in categories if cat_name=="telecharger" %}
          {% for article in article_list %}
          {% if loop.first %}
          <h5>
            <time class="published" datetime="{{ article.date.isoformat() }}">
              {{ article.date|strftime('%d.%m.%y') }}
            </time>
          </h5>
          <a href="{{ SITEURL }}/{{ article.slug }}.html"><h4>{{ article.title }}</h4></a>
          {{ article.content }}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>

  <div id="col_droite">
    <h3>Récemment sur le forum</h3>
    <ul>
      <li>
        <div class="article">
          <script>
          jQuery(function() {
    jQuery.getFeed({
        url: 'https://forum.pyromaths.org/app.php/feed',
        success: function(feed) {

            var html = '';

            for(var i=0; i<feed.items.length && i<1; i++) {

                var item = feed.items[i];

                html += '<h4>'
                + '<a href="'
                + item.link
                + '">'
                + item.title
                + '</a>'
                + '</h4>';

                html += '<div>'
                + item.description
                + '</div>';
            }

            jQuery('#result').append(html);
        }
    });
});
          </script>
          <div id="result"></div>
        </div>
      </li>
    </ul>
    <h3>À voir aussi</h3>
    <ul>
      <li>
        <div>
          <h4>Des sites internet intéressants :</h4>
          <ul>
            <li>
              <a href="https://www.unpeud.info">un peu d'info</a> : un site qui parle
              de mathématiques, de programmation et de plein d'autres choses
              passionantes.
            </li>
            <li>
              <a href="http://www.simpletex4ht.free.fr/">simpletex4ht</a> : ce
              logiciel libre est une interface graphique pour TeX4ht qui permet, sur
              Mac OS X, de convertir des fichiers LaTeX en HTML/XHTML, OpenDocument,
              MathML, DocBook ou Text Encoding Initiative.
            </li>
            <li>
              <a href="http://www.gesnel.fr/ubuntu/">Ubuntu en salle des
                profs&hellip;</a> est un blog qui décrit l'utilisation de
              GNU/Linux dans un collège.
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div id="col_centre">
    <h3>Les bienfaiteurs de Pyromaths</h3>
    <ul>
      <li>
        <div>
          <p>Que soient ici remerciées les personnes qui ont contribué au
            soutien financier de Pyromaths.</p>
          <a href="{{ SITEURL }}/bilan-des-finances-de-pyromaths.html">Liste des donateurs</a>
        </div>
      </li>
    </ul>
    <h3>Aider Pyromaths</h3>
    <ul>
      <li>
        <div>
          <h4>Contribuer à la location du serveur</h4>
          <p>La location du serveur de Pyromaths coûte 11,99&nbsp;€ TTC
            par mois. Cela permet de proposer une version utilisable
            directement en ligne de Pyromaths. Nous avons besoin de votre
            aide pour continuer à payer ce serveur. En cliquant sur le
            lien ci-dessous, vous pourrez participer aux frais en
            utilisant Paypal. Nous vous remercions.</p>
          <form action="https://www.paypal.com/cgi-bin/webscr"
                method="post">
            <p>
              <input type="hidden" name="cmd" value="_s-xclick"/>
              <input type="hidden" name="hosted_button_id" value="5486963"/>
              <input type="image"
                     src="https://www.paypal.com/fr_FR/FR/i/btn/btn_donate_SM.gif"
                     name="submit" alt="PayPal"/>
              <img alt="logo Paypal"
                   src="https://www.paypal.com/fr_FR/i/scr/pixel.gif"/>
            </p>
          </form>
        </div>
      </li>
      <li>
        <div>
          <h4>Contribuer au développement</h4>
          <p>Nous sommes une petite équipe à travailler sur Pyromaths.
            Nous avons besoin d'aide pour proposer des exercices, les
            écrire en Python, créer des modèles LaTeX, faire des
            propositions, ...</p>
          <p>Pour nous rejoindre, enregistrez-vous sur le <a
                href="https://forum.pyromaths.org">forum</a> et laissez nous
            un petit message.</p>
        </div>
      </li>
      <li>
        <div>
          <h4>Contribuer à la publicité</h4>
          <p>Vous pouvez placer une de nos belles bannières sur votre site
            internet ou votre blog pour nous aider à nous faire connaître.</p>
          <p>Pour cela, rendez-vous sur la page <a
                href="{{ SITEURL }}/bannieres_de_promotion.html">bannières de promotion</a>
            et choisissez celle qui vous convient le mieux.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="clear">&nbsp;</div>
</div>
{% endblock %}
