/**********************************
 * GLOBAL
 **********************************/
@media screen and (max-width: 940px) {
  html {
    margin: -8px 5px;
  }
}
@media screen and (min-width: 940px) {
  html {
    margin: 0 0;
  }
}
body {
  height: 100%;
  font-size: 11px;
  line-height: 125%;
  font-size: 11px;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}
body a {
  color: #773015;
}
body p{
 font-size: 11px;
}
body ul {
  list-style: none;
  padding: 0;
}
#total {
  height: 100%;
  min-height: 100%;
  position: relative;
  margin: 0;
}
#page {
  max-width: 940px;
  margin: 0 auto;
}
h2, h3 {
  border-bottom: 1px solid #ffa628;
  padding:2em 0;
}
h1, h2, h3 {
  color: #d32f19;
  font-family: verdana, sans-serif;
}
h1 {
  font-weight: lighter;
  font-variant: small-caps;
  padding-bottom: 15px;
  line-height:125%;
}
h2 {
  font-weight: lighter;
  padding-bottom: 10px;
  padding-top:10px;
  font-size:140%;
}
h3 {
  padding-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  font-style: italic;
  font-size:11px;
}
#trois_cols h3 {
  padding-bottom: 5px;
  margin-left: 0;
  font-weight: bold;
  font-style: normal;
  font-size:11px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000;
}
@media screen and (max-width: 940px) {
  h5 {
    margin-top: 0;
    color: #000;
    font-size: 11px;
  }
}
@media screen and (min-width: 940px) {
  h5 {
    float: right;
    margin-top: 0;
    padding-left: 20px;
    color: #000;
    font-size: 11px;
  }
}
#deux_cols h5 {
  margin-top: 11px;
}
.highlight {
  padding: 0;
  margin: 0;
}
/**********************************
 * MENUS
 **********************************/
.code{
  font-family: monospace;
  color: #ffa628;
}
#nav_menu {
  text-align: center;
  font-size: 120%;
  clear: both;
  padding: 0;
  margin: 0;
  font-variant: small-caps;
  color: #d32f19;
}
#nav_menu li a:hover {
  color:#ffa628;
}
#nav_menu a {
  text-decoration: none;
}
#nav_menu a.icon {
  float: right;
  display: none;
  background: transparent url('../../theme/images/menu_icon.png') no-repeat right top;
  background-size: 15px;
}
@media only screen and (min-width: 940px) {
  #nav_menu {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #nav_menu a {
    font-weight: bold;
    color: #d32f19;
  }
  #nav_menu ul {
    border: 1px solid #ffa628;
    height: 35px;
    list-style: none;
  }
  #nav_menu li {
    border-right: 1px solid #ffa628;
    display: block;
    width: 16.57%;
    height: 15px;
    float: left;
    padding: 10px 0;
  }
  #nav_menu li#adroite {
    float:right;
    border-right: none;
  }
}
@media only screen and (max-width: 940px) {
  #nav_menu ul {
    overflow: hidden;
    background-color:#d32f19;
    height: 35px;
  }
  #nav_menu li {
    text-align: left;
    height: 15px;
    padding: 10px;
   }
  #nav_menu li:not(:first-child) {
    display: none;
  }
  #nav_menu a{
    color: white;
    font-weight: bold;
  }
  #nav_menu a.icon{
    display: block;
    background-color:#d32f19;
    background-position: center center;
    height:35px;
    width:30px;
  }
  #nav_menu.responsive ul{
    height:210px;
  }
  #nav_menu.responsive li{
    display: block;
  }
  #presentation{
    display: none;
  }
}
/**********************************
 * SLIDESHOW
 **********************************/
#presentation {
  height: 365px;
  padding: 5px 0;
}
.presentation_gauche {
  border: 1px solid #ffa628;
  width: 49%;
  float: left;
  overflow: hidden;
  height: 345px;
}
#presentation .diapo {
  display: none;
  position: relative;
}
#presentation .diapo img {
  width: 420px;
  height: 330px;
}
.diapo_contenu {
  position: absolute;
  left: 20px;
  width: 420px;
  height: 330px;
}
.presentation_droite {
  width: 50%;
  height: 345px;
  float: right;
  position: relative;
}
.presentation_droite_haut {
  position: relative;
  line-height: 230% ;
}
.presentation_droite_haut h2 {
  margin-left: 60px;
}
.presentation_droite_haut a {
  padding-left: 60px;
  background: transparent url('../../images/case_a_cocher2.png') no-repeat right top;
  display: block;
  text-decoration: none;
}
.presentation_droite_haut a.activeSlide {
  background-position: right bottom;
  color: #773015;
  font-weight: bold;
}
.presentation_droite_bas {
  padding-left: 60px;
  position: absolute;
  bottom: 0;
}
/**********************************
 * 3 COLONNES
 **********************************/
#trois_cols img {
  max-width: 250px;
}
@media only screen and (min-width: 940px) {
  #trois_cols {
    display: block;
    padding-top: 15px;
    padding-bottom: 50px;
  }
  #trois_cols #col_gauche {
    width: 32%;
    float: left;
  }
  #trois_cols #col_centre {
    width: 32%;
    margin: 0 auto;
  }
  #trois_cols #col_droite {
    width: 32%;
    float: right;
  }
  .centerleft {
    width: 21%;
    float: left;
    text-align: center;
  }
  .centerright {
    width: 21%;
    float: right;
    text-align: center;
  }
  .center {
    width: 21%;
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (max-width: 940px) {
  #trois_cols {
    }
  #col_gauche {
    width: 100%;
    float: none;
  }
  #col_centre {
    width: 100%;
    float: none;
    margin: 0;
  }
  #col_droite {
    width: 100%;
    float: none;
  }
  #page {
    width: 100%;
    margin: 0 auto;
  }
  .centerleft {
    padding-bottom: 10px;
  }
  .centerright {
    padding-bottom: 10px;
  }
  .center {
  }
}
/**********************************
 * 2 COLONNES
 **********************************/
@media only screen and (min-width: 940px) {
#deux_cols {
  display: block;
  padding-top: 15px;
  padding-bottom: 50px;
}
#deux_cols #col_gauche {
  width: 65%;
  float: left;
}
#deux_cols #col_droite {
  max-width: 30%;
  float: right;
  border: 1px solid #ffa628;
}
.margin-check {
  padding: 0 15px 15px 15px;
}
#deux_cols #col_droite ul.docs {
  list-style: disc;
  padding-left: 15px;
  line-height: 200%;
}
}
@media only screen and (max-width: 940px) {
div#deux_cols {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 15px;
  padding-bottom: 50px;
}
#deux_cols #col_gauche {
  width: 100%;
}
#deux_cols #col_droite {
  margin-top: 30px;
  border: 1px solid #ffa628;
}
.margin-check {
  display: inline-block;
  padding: 0 15px 15px 15px;
  position: relative;
}
#deux_cols #col_droite ul.docs {
  list-style: disc;
  padding-left: 15px;
  line-height: 200%;
}
}
/**********************************
 * ARTICLES
 **********************************/
.article ul {
  list-style: disc;
  padding-left: 15px;
  margin-left: 0;
}
.article li {
  padding-top: 5px;
}
#nouveautes-de-cette-version h2 {
  font-family: serif;
  font-size: 11px;
  line-height: 125%;
  font-weight: bold;
  display: block;
  float: none;
  position: static;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom:0px;
  color: #000;
  border-bottom: none
  }
  .article .section h2 {
  font-family: verdana, sans-serif;
  font-size: 13px;
  line-height: 125%;
  font-weight: bold;
  display: block;
  float: none;
  position: static;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom:5px;
  }
.code {
  border: 1px dashed #000;
  margin: 0 20px;
  padding: 10px 10px;
  font-family: monospace;
  display: block;
}
.code em {
  font-family: serif;
}
/**********************************
 * EN TETE
 **********************************/
 @media only screen and (min-width: 940px) {
  #logo_holder #logo {
    background: transparent url('../../theme/images/bandeau.png') no-repeat;
    background-repeat: no-repeat;
    float: left;
    display: block;
    text-indent: -9999px;
    height: 80px;
    width: 444px;
    padding-bottom:15px;
  }
}
@media only screen and (max-width: 940px) {
  #logo_holder #logo {
    display: none;
  }
 }
/**********************************
 * PIED DE PAGE
 **********************************/
#footer {
  position: static;
  border-top: 1px dotted #ffa628;
  padding: 0;
  margin: 0;
}
#footer p {
  padding: 2px 0;
}
#footer #copyright {
  text-align: center;
  padding: 0;
}
#footer #left {
  float: left;
  width: 75px;
  height: 50px;
}
#footer #feeds {
  float: right;
  line-height: 125%;
  width: 85px;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  #footer #right a#feeds {
    font-size: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 600px) {
  #footer #right a#feeds {
    padding: 18px 20px 0 0;
  }
}
#footer #right a#feeds {
  background: transparent url('../../images/feed.png') no-repeat 70% 35%;
  text-decoration: none;
}
/**********************************
 * BOUTTONS
 **********************************/
a.button {
  background: transparent url('../../images/bouton_a.png') no-repeat scroll top right;
  color: #444;
  display: block;
  float: left;
  font: bold 12px verdana, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px;
  padding-left: 0;
  margin-left: 0;
  text-decoration: none;
}
a.button span {
  background: transparent url('../../images/bouton_span.png') no-repeat;
  display: block;
  line-height: 125%;
  padding: 5px 0 5px 18px;
  margin: 0;
}
a.button:hover {
  background-position: bottom right;
  color: #000;
  outline: 0;
}
a.button:hover span {
  background-position: bottom left;
  padding: 6px 0 4px 18px;
}
/**********************************
 * ARTICLES
 **********************************/
.clear {
  clear: both;
  display: block;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 100%;
}
.article img {
  border: 0;
  vertical-align: middle;
}
.download {
  float: right;
}
.download p {
  padding-top: 40px;
}
ul#version {
  list-style: none;
}
.console {
  overflow: auto;
  display: inherit;
  position:relative;
  min-width: 80%;
  border: 1px solid #000;
  background: #333;
  padding: .8em 2em .8em .5em;
  color: #fff;
}
/**********************************
 * STATISTIQUES
 **********************************/
.article table#stats {
  margin-left: auto;
  margin-right: auto;
  border: 0;
}
.article table.dons.docutils {
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: #AAAAAA;
}
table.dons td {
  width: 100%;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: #AAAAAA;
}
table.dons tr {
  background-color: #eddeb2;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: #AAAAAA;
}
table.dons td:nth-child(1) {
  width: 243px;
  font-weight: bold;
  padding: 5px;
}
table.dons td:nth-child(2) {
  width: 42px;
  font-weight: bold;
  padding: 5px;
}
table.dons td:nth-child(3) {
  width: 176px;
  text-align: left;
  padding-right: 5px;
}
table.dons td:nth-child(4) {
    text-align: right;
    width: 138px;
  padding-right: 5px;
}
.article tr.titres {
  background-color: #911101;
  text-align: center;
}
.article th.os img {
  border-width: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.article th.os {
  width: 38px;
  height: 60px;
  color: #fff;
}
.article th.total {
  color: #fff;
  width: 100px;
}
/**********************************
 * DESCRIPTIF EXERCICES
 **********************************/
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 75px;
  width: 15em;
}
ul.menu a {
  display: block;
  text-decoration: none;
}
ul.menu li {
  margin-top: 1px;
}
ul.menu li p.titre {
  width: 425px;
  height: 28px;
  margin: 0 auto 0 auto;
  padding: 5px 0 0 25px;
  background-color: #fff;
  background-position: 0 0;
  background-repeat: no-repeat;
  background: url('../../images/titlesBackgroundImagePlus.png') no-repeat;
  color: #000;
}
ul.menu li p {
  width: 365px;
  padding: 0 30px 0 30px;
}
p.desc {
  background-color: #ffe7c5;
}
/**********************************
 * PYROMATHS EN LIGNE
 **********************************/
.ui-tabs-panel {
  background: url(../../images/degrade.png) no-repeat;
  width:611px;
}
table.tabs {
  width:611px;
}
table.tabs td{
  width:50%;
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-tabs-nav {
  margin:0;
  height:30px;
  width:611px;
  padding:0;
  border-bottom:1px solid #ddc525;
}
.ui-tabs .ui-tabs-nav li {
  list-style:none;
  float:left;
  position: relative;
  padding:0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav a{
  background: url(../../images/tabs.png) no-repeat -652px 0;
  display:block;
  height: 30px;
  line-height:30px;
  width: 76px;
  text-align:center;
  float:left;
  text-decoration:none;
  color:#666;
  position:relative;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  padding:0;
}

.ui-tabs a:active {
  outline:none;
}
.ui-tabs a:hover {
  background-position: -652px -31px;
  color:#fff;
}
p#msgjs, #errmsg{
  color:#911101;
  text-align: center;
}
/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
  background-position: -652px -62px;
  cursor:default !important;
  color:#000 !important;
}
form#idForm input{
  border:2px outset #ddc525;
  background-color: #f8f3d2;
}
form#idForm select{
  color: #666;
  background-color: #f8f3d2;
}
/* Start by setting display:none to make this hidden.
 Then we position it in relation to the viewport window
 with position:fixed. Width, height, top and left speak
 for themselves. Background we set to 80% white with
 our animation centered, and no-repeating */
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('../../images/loading.gif')
  50% 50%
  no-repeat;
}
body.loading {
  overflow: hidden;
}
body.loading .modal {
  display: block;
}

